@layout('layout/app')

@section('content')
  <h1>Nova Tarefa</h1>
  <form action="{{ route('tasks.store') }}" method="POST">
    <div>
      <label for="title">Título</label>
      <input type="text" name="title" id="title">
    </div>
    <div>
      <button type="submit">Cadastrar</button>
    </div>
  </form>
  <div>
    <a href="{{ route('tasks.index') }}">Voltar</a>
  </div>
@endsection
