@layout('layout/app')

@section('content')
  <h1>{{ task.title }}</h1>
  @if(task.description)
    <p>{{ task.description }}</p>
  @endif
  <p>Feita: {{ task.done ? 'Sim' : 'Não' }}</p>

  <div>
    <a href="{{ route('tasks.index') }}">Voltar</a>
  </div>
@endsection
